.wd-kanbasnavigation{
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
}
.wd-kanbasnavigation a{
    color:white;
    text-decoration: none;
    font: arial;
    font-size: 0.8em;
}
.wd-kanbasnavigation i{
    color:red;
}
.wd-kanbasnavigation .fa-user{
    color:white;
}
.wd-accountnavigation{
    width:190px;
    margin-left:25px;
}
.wd-accountnavigation div{
    padding-top:10px;
    padding-bottom: 10px;
    font-size: large;
    word-wrap:break-word;
    padding-left:5px;
}   
.wd-accountnavigation div a{
    color:red;
    text-decoration: none;
    font-size:1em;
}
.wd-accountnavigation div a:hover{
    text-decoration: underline;
}
.wd-accountnavigation-active{
    border-left:2px solid black;
}
.wd-coursenavigation div{
    padding-top:10px;
    padding-bottom: 10px;
    font-size: large;
    word-wrap:break-word;
    padding-left:5px;
}   
.wd-coursenavigation div a{
    color:red;
    text-decoration: none;
    font-size:1em;
}
.wd-coursenavigation div a:hover{
    text-decoration: underline;
}
.wd-coursenavigation-active{
    border-left:2px solid black;
}
.flex-kanbasnavigation{
    height:100%;
}
.wd-active{
    background-color: white;
}
.wd-active a{
    color:red;
}
.wd-profile-tab{
    margin-left:20px;
    margin-right:30px;
    margin-top:15px;
    flex-grow:1;
}
.bc h4{
    color:red;
    text-decoration: none;
}
.bc h4 a{
    color:red;
    text-decoration: none;
}
.wd-profile{
    margin-top:15px;
    margin-left:30px;
    width:30em;
}
.wd-profile .fa-5x{
    font-size:7em;
}
.wd-editprofilebtn {
    flex-grow:1;
}
.wd-editprofilebtn button{
    margin-top:50px;
    margin-right:50px;
    background-color: lightgrey;
    color:black;
    border-color: grey;
    float:right;
}
.wd-editprofilebtn .btn-primary:hover {
    background-color: lightgrey;
    color:grey;
    border-color: grey;
}
.wd-profile .wd-editlinks .wd-editlinkbutton button{
    margin-top:5px;
    background-color: lightgrey;
    color:black;
    border-color: grey;
}
.wd-profile .wd-editlinks .wd-editlinkbutton .btn-primary:hover {
    background-color: lightgrey;
    color:grey;
    border-color: grey;
}
.wd-profile .wd-editprofileend button{
    margin-top:5px;
    background-color: lightgrey;
    color:black;
    border-color: grey;
}
.wd-profile .wd-editprofileend .btn-primary:hover {
    background-color: lightgrey;
    color:grey;
    border-color: grey;
}
.wd-profile .wd-editprofileend .saveprofile {
    background-color: red;
    color:white;
    border-color: white;
}
.dashboard{
    margin-left:20px;
}
.card{
    margin:25px;
    width:250px;
}
.card .card-color1{
    height:120px;
    background-color:rgb(243, 96, 96);
}
.card .card-color2{
    height:120px;
    background-color:rgb(93, 197, 93);
}
.card .card-color3{
    height:120px;
    background-color:rgb(130, 183, 247);
}
.wd-modules .wd-modules-button{
    display:flex;
    float: right;
}
.wd-modules .wd-modules-button button{
    margin-top:5px;
    padding:5px;
    padding-right:5px;
    background-color: white;
    color:black;
    border-color: grey;
    
}
.wd-modules .wd-modules-button .btn-primary:hover {
    background-color: lightgrey;
    color:black;
    border-color: grey;
}
.list-group-item .float-end{
    display:flex;
    align-items: center;
    justify-content: end;
    flex:0.5;
}
.list-group-item .float-end i{
    margin-right:10px;
}
.list-group-item .float-end .fa-check-circle{
    color:green;
}
.wd-modules .list-group {
    margin-bottom: 25px;
}
.wd-modules .list-group .title h6{
    margin-left: 5px;
}
.wd-modules .list-group .subtitle h6{
    margin-left: 25px;
}
.wd-modules .list-group .link a{
    margin-left: 9px;
    color:red;
    text-decoration: none;
}
.wd-modules .list-group .link a:hover{
    text-decoration: underline;
}
.wd-coursestatus{
    max-width:300px;
    margin-left:30px;
    justify-content: end;
}
.wd-coursestatus button{
    margin-top:5px;
    background-color: lightgrey;
    color:black;
    border-color: grey;
}
.wd-coursestatus .btn-primary:hover {
    background-color: lightgrey;
    color:grey;
    border-color: grey;
}
.wd-coursestatus .list-group{
    margin-top: 15px;
    margin-bottom: 20px;
}
.wd-coursestatus .list-group .list-group-item{
    background-color: rgb(239, 238, 238);
    margin-bottom: 5px;
}
.wd-assignment-buttons .wd-assignmentbuttons .btn-primary{
    margin-top:5px;
    background-color: lightgrey;
    color:black;
    border-color: grey;
}
.wd-assignment-buttons .wd-assignmentbuttons .btn-primary:hover {
    background-color: lightgrey;
    color:grey;
    border-color: grey;
}
.bu{
    float:right;
}
.w-25 input::placeholder{
    color:rgb(138, 137, 137);
    font-size:0.8em;
}
.assignment-right-icons i{
    margin-top: 15px;
    margin-right:15px;
    float:right;
}
.assignment-right-icons span{
    margin-top: 8px;
    margin-right:15px;
    float:right;
    border-color: grey;
    color:grey;
    font-size:small;
    padding: 5px;
    ;
}
.assignmentitem-right-icons i{
    margin-right:15px;
    float:right;
}
.wd-assignments-list .list-group .list-group-item a{
    text-decoration: none;
    color: black;
}
.abc div{
    margin-bottom:20px;
}
.abc .ta textarea{
    border:1px solid red;
    height: 100px;
}
.edititems-align label{
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right:20px;
}
.edititems-align input{
    display: inline-block;
}
.edititems-align select{
    display: inline-block;
}
.edititems-align a{
    display: inline-block;
}
.edititems-align .group{
    display: inline-block;
    border-radius: 5px;
}
.edititems-align .group div{
    margin:10px
}
.group .assign-x label{
    text-align: left;
    font-weight: bold;
}
.group .d-flex div{
    display: inline-block;
}
.group .d-flex label{
    text-align: left;
    font-weight: bold;
}
.abc .d-flex .ecs .c{
    background-color: lightgrey;
    color:black;
    border-color: grey;
    float:right;
}
.abc .d-flex .ecs .c:hover{
    background-color: lightgrey;
    color:grey;
    border-color: grey;
}
.abc .d-flex .ecs .s{
    background-color: red;
    color:white;
    border-color: white;
    float:right;
}
.abc .d-flex .ecs .s:hover{
    background-color: red;
    color:white;
    border-color: white;
}
.wd-gradebuttons button{
float:right;
}
.table input,td{
    width:75px;
}
.wd-settings .navbar a{
    color:red;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size:15px;
}
.wd-settings .navbar a:hover{
    color:black;
}
.wd-settings .navbar{
    border-bottom: 2px solid lightgrey;
    max-width: 750px;
    
}
.wd-settings div{
margin-bottom:20px;
}
.table .settings-checkbox .settings-checkbox1 input{
    width:20px;
    margin-right:10px;
}
.coursedetail-row{
    max-width:50px;
}
.wd-settings-navigation .list-group-item-secondary{
    background-color: white;
    border:1px solid lightgrey;
    color:grey;
    align-items: center;
    margin-bottom:0px;
    max-height: 40px;
}
.wd-settings-navigation .list-group-item-secondary div{
    margin-right:10px;
    margin-top:15px;
    align-items: center;
}
.fa-bars{
    color:white;margin-left:20px;margin-top:40px;
}